.event-grid-container {
  padding: 40px;
  margin: 20px;
  width: 80%;
  background: #fcfdfd;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  border-right: solid rgb(238, 234, 234);
  border-bottom: solid rgb(230, 227, 227);
  border-width: 1px;
  grid-gap: 10px;
}

@media (max-width: 600px) {
  .event-grid-container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}

.grid-item {
  text-align: left;
  margin-left: 5px;
}

/* to edit link color in address later if needed 
.a-address a:link {
  color: black;
}

.a-address a:visited {
  color: black;
}

.a-address a:hover {
  color: rgb(57, 80, 182);
} */
