.event-grid-container {
  padding: 60px;
  margin: 20px;
  width: 80%;
  background: #FCFDFD;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  border-right: solid rgb(238, 234, 234);
  border-bottom: solid rgb(230, 227, 227);
  border-width: 1px;
}
.grid-item-description{
width: 300%;
}

@media (max-width: 600px) {
  .event-grid-container {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr;
  }
}

.grid-item {
  /* border: 1px solid black; */
  text-align: left;
}
