.title{
    margin-bottom:70px
}
h2 a , h2 a:hover{
    color:#fff
}
.nav-item{
    background-color:#4286f4;
    transition: all 0.3s ease-out;
    width:200px;
    position: relative;
    bottom: 0;
    top:200px
}
li:hover{
    transition: all 0.3s ease-out;
    background-color:#0141a8;

}
a:link{
    text-decoration: none;
}
.containe{
    background-image:url('https://i.postimg.cc/1Rd2MykD/DSC-0457.jpg');
    background-repeat: no-repeat;
    height: 700px;
}
.event-title{
    margin-top:250px;
    color:white;
}